@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
:root {
  --bg-primary-color: #8d20cb;
  --bg-violet: #a34fd9;
  --bg-secondary-color: #370365;
  --white:#fff;
  --black:#000;
  --light-gray: #f6f6f6;
  --dark-gray:#121b21;
  --gray:#e2dcdc;
  --pink:#be53df;
 --error: #e02e2e;
 --success: #19aa62;
 --blue:#929ee4;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size:15px;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}